*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
body{
    font-family:nunito;
    overflow-x: hidden;
    /* background-color: #000; */
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
.container{
    max-width: 1120px;
    padding-left: 12px;
    padding-right:12px;
    margin-left:auto ;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
    margin-left: -12px;
    margin-right:-12px;
}
.col-1{width:8.33%;padding-left:12px;padding-right:12px;}
.col-2{width:16.66%;padding-left:12px;padding-right:12px;}
.col-3{width:25%;padding-left:12px;padding-right:12px;}
.col-4{width:33.33%;padding-left:12px;padding-right:12px;}
.col-5{width:41.66%;padding-left:12px;padding-right:12px;}
.col-6{width:50%;padding-left:12px;padding-right:12px;}
.col-7{width:58.33%;padding-left:12px;padding-right:12px;}
.col-8{width:66.66%;padding-left:12px;padding-right:12px;}
.col-9{width:75%;padding-left:12px;padding-right:12px;}
.col-10{width:83.33%;padding-left:12px;padding-right:12px;}
.col-11{width:91.66%;padding-left:12px;padding-right:12px;}
.col-12{width:100%;padding-left:12px;padding-right:12px;}

.d-flex{
    display: flex;
}
/* ================variable================= */
:root{
    --primary:#4f46e5;
    --head-text:#161c2d;
    --info-text:#94a3b8;
    --black:#000;
    --whithe:#fff;
}
/* ===========component======================= */
.btn{
    margin-top: 32px;
    background-color: var(--primary);
    color: var(--whithe);
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 16px;
    display: inline-block;
    font-family: nunito;
    letter-spacing: 0.4px;

}
/* ==================================haeder============================== */
header{
    padding: 20px ;
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: inline-block;
}
header ul{
    list-style: none;
}
header nav ul a{
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.3;
    color: var(--whithe);
    font-weight: 700;
    transition: 0.5s;
    margin:12px ;
}
header nav ul a{
    padding: 0px 10px;
}
.active{
    opacity: 1;
}

header nav ul a:hover{
    transition: 0.5;
    opacity:1;
}
header .row{
    align-items: center;
    justify-content: space-between;
}
.header-icons ul a i{
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: inline-block;
    font-size: 14px;
    color: var(--info-text);
    border-radius: 50%;
    text-align: center;
    background-color: var(--whithe);
    margin-right:10px;
}
/* ===========================banner=============================== */
.banner{
    background-image: url(../images/bg01.jpg);
    min-height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}
.banner::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--head-text);
    opacity: 0.3;
    z-index: -1;
}
.banner .banner-data{
    text-align: center;
}
.banner .banner-data h1{
    color: var(--whithe);
    font-size: 60px;
    font-weight: 700;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;

}
.banner .banner-data p{
    color: var(--whithe);
    opacity: 0.5;
    font-size: 18px;
    max-width: 55%;
    text-align: center;
    margin: 0 auto;
}

/* ================experience=================== */
.experience{
    padding: 100px 0px;
}
.experience .row{
    align-items: center;
}
.experience img{
    border-radius: 6px;
}
.experience-data{
    color: var(--info-text);
    margin-left: 30px;
}
.experience-data p{
    font-size: 18px;
    line-height: 28px;
}
.experience-data h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    color: var(--black);
    margin: 24px 0px;
    max-width: 65%;
}
.experience-data h3 + p{
    font-size: 16px;
    line-height: 26px;
}
.experience-data img{
    height: 32px;
    margin-top: 20px;
}
/* ==================services====================== */
.services-card{
    margin: 0 auto;
    text-align: center;
}
.services-card .services-icon{
    margin: 0 auto;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 12px;
    background-color: #f6f6fe;
    text-align: center;
    color: var(--primary);
    font-size: 30px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
}
.services-data{
    padding-top: 20px;
}
.services-data h3 a{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    transition: all 0.5;
    color: var(--head-text);
}
.services-data h3 a:hover{
    color: var(--primary);
}
.services-data p{
    text-align: center;
    font-size: 16px;
    color: var(--info-text);
    font-weight: 500;
    margin: 20px;
    max-width: 80%;
}
.services-card .services-data a i{
    font-size: 12px;
    margin-left: 6px;
}
.services-card .services-data > a{
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}
.services-card .services-data > a::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    width: 0;
    transition: all 0.5s;
}
.services-card .services-data > a:hover::after{
    width: 100%;
}
/* =========================menu======================= */
.menu{
    position: relative;
}
.menu-bg{
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    z-index: -10;
}
.menu-bg-1{
    background-image: url(../images/food-menu\ \(1\).png);
    top: 140px;
    left: -150px;

}
.menu-bg-2{
    background-image: url(../images/food-menu-2.png);
    left: 91%;
    top: 55%;
}
.menu .heading{
    background-image: url(../images/menu.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    padding-top: 200px;
    z-index: 0;
}
.menu .heading::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(22,28,45,0.5),rgba(22,28,45));
    z-index: -1;
}
.menu .heading h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--info-text);
}
.menu .heading h2{
    font-size: 30px;
    padding-bottom: 20px;
    color: var(--whithe);
}
.menu .menu-list{
    padding-top: 50px  ;
}
.menu .menu-list ul{
    display: flex;
    justify-content: center;
}
.menu .menu-list ul li{
    padding: 0 12px;
}
.menu .menu-list ul li a{
    text-transform: uppercase;
    color: var(--info-text);
    font-size: 14px;
    font-weight: 600;
    transition: all  0.5s;
}
.menu .menu-list ul li a.active,
.menu .menu-list ul li a:hover{
    color: var(--black);
    text-decoration: underline;
}

.menu .menu-item{
    padding-bottom: 100px;
}
.menu .menu-item .dish{
    text-align: center;
    width: 20%;
    padding-top: 50px;
}
.menu .dish .dish-img img{
    border-radius: 50%;
    width: 60%;
    margin: 0 auto 20px;
}
.menu .dish .dish-img img:hover{
    animation: fervo 10s linear infinite;
}
@keyframes fervo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.menu .dish .dish-info h3{
    font-size: 18px;
    color: var(--head-text);
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s;

}
.menu .dish .dish-info h3:hover{
    color: var(--primary);
}
.menu .dish .dish-info p{
    font-size: 16px;
    color: var(--info-text);
    margin-bottom: 10px;
    max-width:90%;
}
.menu .dish .dish-info h5{
    font-size: 16px;
    color: var(--primary);
    margin-bottom: 10px;
}
/* =====================book============================== */
.book{
    background-image: url(../images/cta.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    padding: 100px 0;
}
.book::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 28 ,45,0.5);
    z-index: -1;
}
 .book .book-head{
    margin-left: auto;
    background-color: var(--whithe);
}
.book-head{
    max-width: 50%;
    border-radius:10px;
    padding: 48px;
    padding-top: 50px;
    margin-bottom: 48px;
}
.form-info span{
    color: var(--primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 2px 10px;
    background-color: rgba(79,70,229,0.5);
    text-align: left;
}
.form-info h3{
    font-size: 36px;
    line-height:40px;
    font-weight: 700;
    margin: 16px 0;
    text-transform: uppercase;
    text-align:left;
}
.form-info p{
    font-size: 16px;
    line-height: 26px;
    color: var(--info-text);
}
.book .form-info{
    margin-bottom: 20px;
}
.book form .field{
    margin-bottom: 20px;
}
.book form .field input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 5px;
}
.book form .field input::placeholder{
    color: var(--info-text);
    font-size: 16px;
    font-family: Nunito;
}
.book form .field label{
    display: inline-block;
    margin-bottom: 7px;
}
.book form .form-btn button{
    width: 100%;
}
/* ===================happy client's================== */
.happy{
    background-color: #4f46e50d;
    justify-content: center;
    text-align: center;
}
.happy .happy-info{
    padding: 96px 0px;
}
.happy .happy-info h3{
    color:var(--black);
    line-height: 45px;
    font-size: 30px;
    font-weight:600;
}
.happy .happy-info p{
    font-size:16px;
    color: var(--info-text);
    line-height:26px;
    max-width:53%;
    margin:10px auto;
}
.happy .manager{
    padding:24px;
    margin:2px;
    border:1px solid rgb(229, 231, 235);
    background-color: var(--white);
}
.happy .manager .fa-quote-left{
    color:var(--primary);
    margin-top: 10px;
    font-size:48px;
    line-height:24px;
}
.happy .manager p{
    font-size: 16px;
    margin-top:13px;
    color: var(--info-text);
    line-height: 26px;
}
.happy .manager .fa-star{
    font-size:14px;
    line-height:24px;
    color:rgb(251, 191, 36);
    margin-top:20px;
}
.happy .manager-img img{
    width: 56px;
    height:56px;
    margin:10px auto;
    border-radius: 50%;
}
.happy .manager-img h3{
    font-size: 16px;
    font-weight:600;
    line-height:24px;
}
.happy .manager-img p{
    font-size: 14px;
    color: var(--info-text);
    line-height:20px;
    margin-bottom: 100px;
}
/* -----------------follow-now-------------------- */
.follow{
    position: relative;

}
.follow-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.follow-info img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------footer..------------------ */
footer{
    background-color: var(--head-text);
}

.footer-info{
    padding: 60px 0px;
    text-align: center;
    justify-content: center;
}
.footer-info .footer-data h5{
    font-size:16px;
    color:rgb(243, 244, 246);
    letter-spacing:1px;
    line-height:24px;
    font-weight: 600;
}
.footer-info .footer-data p{
    color: rgb(229, 231, 235);
    margin-top:10px;
    font-size: 16px;
    line-height:26px;
}
.footer-info .footer-logo img{
    margin:0 auto;
    margin-top: 50px;
}
.footer-info .footer-logo p{
    color: rgb(229, 231, 235);
   line-height: 26px;
   max-width:52%;
   margin:30px  auto;
}
.footer-info .footer-logo i{
    border-radius:6px;
    border: 1px solid rgb(31, 41, 55);
    color: var(--whithe);
    font-size: 12px;
    height:32px;
    width:32px;
    line-height: 32px;
    text-align: center;
    letter-spacing:0.4px;
    transition: all 0.5s;
}
.footer-info .footer-logo i:hover{
    background-color: var(--primary);

}

.create{
    border-top: 0.5px solid var(--info-text);
    justify-content: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;

}
.footer-logo .create .fa-copyright{
    border: none;
}


